<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welocome to middleware</title>
  </head>
  <body>
    <h1>We will write back</h1>
    <p>Thw site is currently being updated</p>
  </body>
</html>
